@import url(http://fonts.googleapis.com/css?family=Monserrat:400, 700);


body{
  color: #555;
  margin: 0px;

  font-family: ´Monserrat´, sans-serif;
}

#cabecera {
background-color: #1abc9c;
height: 150px;
line-height: 150px;
}

#cabecera a{
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#cabecera a:hover{
  color: #222;
}

#htitulo{
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}

#hnav{
  display: block;
  float: right;

  mangin-top: 0;
}

#hnav li {
  display: inline;
  padding-left: 20px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

#final{
  background-color: #2f2f2f;
  padding: 50px 0;

}

.columna{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#final h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#final p {
  color: white;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover{
  color: #F6A623;
}

.publicacion{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.autor-publicacion img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.autor-publicacion span {
  margin-left: 16px;
}

.fecha-publicacion {
  color: #D2D2D2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1 h2 h3 h4 {
  color: #333;
}

p {
  line-height: 1.5;
}

.publicacion, .sobre{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.sobre{
  text-align: center;
}

.autor-sobre img {
  width: 200px;
  border: solid 1px;
  border-radius: 1000em 1000em 1000em 1000em
}


img{
border: solid 1px;
border-radius: 150em 150em 150em 150em
}

.publicacion-container:nth-child(even){
  background-color: #f2f2f2;
}

.coment {
  margin-left: 270px;
}


.contenido-publicacion img {
  border: solid 1px;
  border-radius: 1em 1em 1em 1em;


}

.pr {
  width: 150px;
}

.ing {
  text-align: center;

}

.contenido-publicaion li {
  line-height: 200px;
}

.plupla {
  display: block;
margin: auto;
text-align: center;
width: 150px;
}

#aa{
  max-width: 950px;
}

.iss {
  display: block;
  float: right;
  width: 160px;
  text-align: right;
}

.qq {
  width: 250px;
}
