td img{
  width: 400px
}
img{
  width: 200px;
}
body{background-color: lightblue}
#cent{
  ;
width: 800px; margin: 0 auto;;
}
#atl {
  width: 40px;
};
.inicio{
  width: 100px
};
.final{
  width: 0px
};
.animacion{
  transition: all 10s ease .5s
}
