body{
 text-align: center;
 background-color: #FBEFBD
}
#x,#c,#v,#n,#m{
  text-align: left
}
.centrar{
  width: 97px; margin: 0 auto;
}
.reglas{
  margin: 0 auto;
  border: solid 4px #E3BC1F;
  background-color: #FFFB7F;
  height: 300px;
    width: 600px;
}
#a, #b, #c, #d{
  height: 30px;
  width: 100px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #FFFB7F;
  border: 4px outset #E3BC1F;
  border-radius: 7px
}
#d{
  margin-bottom: 15px;
  height: 90px;
  position: absolute;
  top: 300px;
  left: 60px
}
#p,#z{
  color: #C5A72C;
  font-family: arial;
}
#ima{
  width: 800px; margin: 0 auto;
}
#ima{
     position: relative;

}
#f{
     position: absolute;
     width: 35px;
     top: 80px;
     left: 1020px
}
